<div class="container pt-5">
  <div class="row mb-3">
    <div class="col-lg-8 offset-lg-2">
      <h1>詳細</h1>
      <article class="card">
        <div class="card-body">
          <div class="row justify-content-center">
            <div class="col-md-9">
              <div class="border-bottom mb-3 pb-2">
                <div style="font-size: 1.4rem;" >台湾華語</div>
                <div style="font-size: 1.8rem;"><%= @default_vocabulary.title %></div>
              </div>
              <div class="border-bottom mb-3 pb-2">
                <div style="font-size: 1.4rem;">ボポモフォ</div>
                <div style="font-size: 1.8rem;"><%= @default_vocabulary.bopomofo %></div>
              </div>
              <div class="border-bottom mb-3 pb-2">
                <div style="font-size: 1.4rem;">意味</div>
                <div style="font-size: 1.8rem;"><%= @default_vocabulary.mean %></div>
              </div>
              <div class="border-bottom mb-3 pb-2">
                <div style="font-size: 1.4rem;">説明</div>
                <div style="font-size: 1.8rem;"> <p><%= simple_format(@default_vocabulary.body) %></p></div>
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>