<div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-8 mx-auto">
        <div class="d-flex align-items-center justify-content-between">
          <p>・1日1回ログインする</p>
          <% if @logged_in_today %>
            <span><i class="bi bi-check-square-fill"></i>Clear!</span>
          <% else %>
            <span><i class="bi bi-check-square"></i></span>
          <% end %>
        </div>
        <div class="d-flex align-items-center justify-content-between">
          <p>・1日1回単語を作成する</p>
          <% if @word_created_today %>
            <span><i class="bi bi-check-square-fill"></i>Clear!</span>
          <% else %>
            <span><i class="bi bi-check-square"></i></span>
          <% end %>
          <%= month_calendar do |date| %>
            <div class="<%= 'highlight' if date == Time.zone.today && @both_conditions_met %>">
              <%= date.day %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>