<div class="keyboard mb-3">
    <!-- ボポモフォのキー -->
    <!-- 第一列 -->
    <div class="key" onclick="typeKey('ㄅ')">ㄅ</div>
    <div class="key" onclick="typeKey('ㄆ')">ㄆ</div>
    <div class="key" onclick="typeKey('ㄇ')">ㄇ</div>
    <div class="key" onclick="typeKey('ㄈ')">ㄈ</div>
    <div class="key" onclick="typeKey('ㄉ')">ㄉ</div>
    <div class="key" onclick="typeKey('ㄊ')">ㄊ</div>
    <div class="key" onclick="typeKey('ㄋ')">ㄋ</div>
    <div class="key" onclick="typeKey('ㄌ')">ㄌ</div>
    <div class="key" onclick="typeKey('ㄍ')">ㄍ</div>
    <div class="key" onclick="typeKey('ㄎ')">ㄎ</div>
    <div class="key" onclick="typeKey('ㄏ')">ㄏ</div>

    <!-- 第二列 -->
    <div class="key" onclick="typeKey('ㄐ')">ㄐ</div>
    <div class="key" onclick="typeKey('ㄑ')">ㄑ</div>
    <div class="key" onclick="typeKey('ㄒ')">ㄒ</div>
    <div class="key" onclick="typeKey('ㄓ')">ㄓ</div>
    <div class="key" onclick="typeKey('ㄔ')">ㄔ</div>
    <div class="key" onclick="typeKey('ㄕ')">ㄕ</div>
    <div class="key" onclick="typeKey('ㄖ')">ㄖ</div>
    <div class="key" onclick="typeKey('ㄗ')">ㄗ</div>
    <div class="key" onclick="typeKey('ㄘ')">ㄘ</div>
    <div class="key" onclick="typeKey('ㄙ')">ㄙ</div>

    <!-- 第三列 -->
    <div class="key" onclick="typeKey('ㄚ')">ㄚ</div>
    <div class="key" onclick="typeKey('ㄛ')">ㄛ</div>
    <div class="key" onclick="typeKey('ㄜ')">ㄜ</div>
    <div class="key" onclick="typeKey('ㄝ')">ㄝ</div>
    <div class="key" onclick="typeKey('ㄞ')">ㄞ</div>
    <div class="key" onclick="typeKey('ㄟ')">ㄟ</div>
    <div class="key" onclick="typeKey('ㄠ')">ㄠ</div>
    <div class="key" onclick="typeKey('ㄡ')">ㄡ</div>
    <div class="key" onclick="typeKey('ㄢ')">ㄢ</div>
    <div class="key" onclick="typeKey('ㄣ')">ㄣ</div>
    <div class="key" onclick="typeKey('ㄤ')">ㄤ</div>
    <div class="key" onclick="typeKey('ㄥ')">ㄥ</div>
    <div class="key" onclick="typeKey('ㄦ')">ㄦ</div>

    <!-- 第四列 -->
    <div class="key" onclick="typeKey('ㄧ')">ㄧ</div>
    <div class="key" onclick="typeKey('ㄨ')">ㄨ</div>
    <div class="key" onclick="typeKey('ㄩ')">ㄩ</div>
    <div class="key" onclick="typeKey('ˊ')">ˊ</div>
    <div class="key" onclick="typeKey('ˇ')">ˇ</div>
    <div class="key" onclick="typeKey('ˋ')">ˋ</div>
    <div class="key" onclick="typeKey('˙')">˙</div>
    <!-- 他のボポモフォキーを追加 -->
</div>