<footer class="footer py-4 border-top">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class='copyright'>
          <p class="mb-0 text-muted">Copyright © 2024. TaiwanKago</p>
        </div>
      </div>
      <div class="col-md-6">
        <ul class="list-unstyled d-flex justify-content-md-end mb-0">
          <li class="ms-md-3"><a href="#" class="text-muted text-decoration-none text-hover-dark">プライバシーポリシー</a></li>
          <li class="ms-md-3"><a href="#" class="text-muted text-decoration-none text-hover-dark">利用規約</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>