<footer class="footer py-4 border-top">
  <div class="container">
    <div class="row">
      <div class="col-md-6 custom-margin">
        <div class='copyright'>
          <p class="mb-0 text-muted">Copyright © 2024. TaiwanKago</p>
        </div>
      </div>
      <div class="col-md-6">
        <ul class="list-unstyled d-flex flex-column flex-md-row justify-content-md-end mb-0">
          <li class="mb-2 mb-md-0 ms-md-3"><%= link_to 'プライバシーポリシー', privacy_policy_path, class: "text-muted text-decoration-none text-hover-dark" %></li>
          <li class="ms-md-3"><%= link_to '利用規約', terms_of_service_path, class: "text-muted text-decoration-none text-hover-dark" %></li>
        </ul>
      </div>
    </div>
  </div>
</footer>