.top-wrapper {
  background-image: url("toptaiwan.jpg");
  height: calc(100vh - 320px);
  background-position: center;
  background-size: cover;
}

.navbar-brand img {
  max-height: 70px; /* 任意の値に変更してください */
}

.menu-color {
  background-color: rgb(70, 53, 32);
  padding-left: 5px;
}

.collapse.navbar-collapse{
  margin-right: 8px;
}

.accordion-button.collapsed{
  color: rgb(70, 53, 32);
}

.btn.btn-outline-secondary{
  color: rgb(70, 53, 32);
}

.btn.btn-outline-secondary.vv{
  color: rgb(70, 53, 32);
  background-color: rgb(255, 243, 213);
}

.btn.btn-outline-secondary.colr{
  color: rgb(193, 20, 20);
  background-color: rgb(255, 243, 213);
}

.nav-item .nav-link.active.tabbak-color {
  background-color: rgb(60, 154, 226);
}
.nav-item .nav-link.active.tabbak2-color {
  background-color: rgb(234, 86, 157);
}

.btn-icon {
  font-size: 24px;
  border: none;
  background-color: transparent;
  padding: 0;
}

/* タブレット*/
@media (max-width: 1024px) {
  .top-wrapper {
    background-image: url("toptaiwan.jpg");
    height: calc(100vh - 800px);
    background-position: center;
    background-size: cover;
  }
}

/* スマホ */
@media (max-width: 599px) {
  .top-wrapper {
    background-image: url("toptaiwan.jpg");
    height: calc(100vh - 700px);
    background-position: center;
    background-size: cover;
  }

  .navbar-brand img {
    max-height: 50px; /* 任意の値に変更してください */
  }

  .navbar-toggler{
    margin-right: 8px;
  }

  .text-center.mb-3.mb-sm-0 .btn-primary {
    margin-right: 0px !important;
  }

  .collapse.navbar-collapse{
    margin-right: 0px;
  }
}

@media (max-width: 380px) {
  .top-wrapper {
    background-image: url("toptaiwan.jpg");
    height: calc(100vh - 520px);
    background-position: center;
    background-size: cover;
  }

  .navbar-brand img {
    max-height: 40px; /* 任意の値に変更してください */
  }

  .navbar-toggler{
    margin-right: 8px;
  }

  .text-center.mb-3.mb-sm-0 .btn-primary {
    margin-right: 0px !important;
  }

  .collapse.navbar-collapse{
    margin-right: 0px;
  }
}