.menu-color {
  background-color: rgb(70, 53, 32);
}

.nav-item .nav-link.active.tabbak-color {
  background-color: rgb(60, 154, 226);
}
.nav-item .nav-link.active.tabbak2-color {
  background-color: rgb(234, 86, 157);
}
